doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body 
     form(action="/curd" method="post")
      input(type="text" name="fname" placeholder="Enter your name")
      input(type="email" name="email" placeholder="email")
      input(type="number" name="mobile" placeholder="mobile")
      input(type="text" name="city" placeholder="city")
      button(type="submit") submit 